html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	padding-top: 58.6px;
	background: #F1E9E0;
	color: #484432;
	
}


/* === Navbar === */

.navbar {
	background: #fff;
}

.navbar .navbar-brand {
	color: #b44010;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: -1px;
}

.navbar-right {
	margin-right: 0;
}


/* === Recipe Box === */

.recipe-box {
	background: #fff;
	border-radius: 5px;
	margin-bottom: 40px;
	-moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
}

.recipe-box .box-image {
	border-radius: 5px 5px 0 0;
	max-width: 100%;
	overflow: hidden;
}

.box-image a {
	opacity: 1;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.box-image a:hover {
	opacity: 0.7;
}

.box-image img {
	width: 100%;
	border: none;
}

.recipe-box .box-content {
	padding: 20px;
}

.recipe-box a:hover {
	text-decoration: none;
}

.box-content h2, .box-content .box-meta {
	text-align: center;
}

.box-content h2 {
	font-size: 25px;
	margin: 10px 0 20px;
	font-weight: bold;
	line-height: 1.5;
}

.box-meta {
	font-size: 12px;
}

.box-meta a {
	font-weight: bold;
}

.box-meta i.glyphicon {
	padding-left: 10px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-time:before {
    content: "\e023"
}

.box-meta, .box-meta a {
	color: #999;
}

/* -------------------------------------------------- */

#syntagi-dashboard-card .box-image > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 250px;
}

#syntagi-detail img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 500px;
}

@media (min-width: 992px) {
    #syntagi-dashboard-card .box-image > img {
        height: 300px !important;
    }
    
}

@media (min-width: 1200px) {
    #syntagi-dashboard-card {
        max-height: 400px !important;
    }
    #syntagi-dashboard-card .box-image > img {
        height: 200px !important;
    }
}

.text-beige {
	color: #F1E9E0;
}

.text-beige:hover {
	color: #F1E9E0;
	text-decoration: none;
}

.bg-beige {
	background-color: #F1E9E0 !important;
}

.get-started:hover {
	text-decoration: none !important;
	animation: btn-enlarge !important;
}

@keyframes btn-enlarge {
	100% {
		transform: scale(1.1);
	}
}

.not-draggable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.bg-1 {
	background-image: url('./bg-red.jpg');
	background-size: 1500px;
	background-position: 50%;
	background-repeat: repeat-y;
	background-color: #eb6864;
}

.bg-2 {
	background-image: url('./bg-beige.jpg');
	background-size: 1500px;
	background-position: 50%;
	background-repeat: repeat-y;
	background-color: #F1E9E0;
}

#tooltip-top > .tooltip-inner {
	background-color: #F1E9E0;
	color: #484432;
	border: 1px solid #484432;
  }
  
  #tooltip-top > .tooltip-arrow {
	border-top: 5px solid #484432;
  }

@media (min-width: 1200px) {
	.box-content {
		height: 160px
	}
}