.content {
    margin-top: 1rem;
}

#syntagi-dashboard-card .box-image > img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 250px;
}

#syntagi-detail img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 500px;
}
/* 
#syntagi-dashboard-card h5 {
    font-size: 30px;
}
#syntagi-dashboard-card p {
    font-size: 20px;
}

*/
@media (min-width: 992px) {
    #syntagi-dashboard-card .box-image > img {
        height: 300px !important;
    }
    
}

@media (min-width: 1200px) {
    #syntagi-dashboard-card {
        max-height: 400px !important;
    }
    #syntagi-dashboard-card .box-image > img {
        height: 200px !important;
    }
}


/*
index.css

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */